# C/C++ files
*.o
*.ko
*.obj
*.elf
*.ilk
*.map
*.exp
*.gch
*.pch
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.dSYM/

# Python files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Distribution / packaging
.Python
env/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
pythonenv*
.python-version

# IDE/Editor files
.idea/
.vscode/
*.swp
*.swo
*~
.clangd/
compile_commands.json

# Local environment
.env
.direnv

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Project specific
# Keep the specific shared libraries commented out to decide which should be tracked
# libfwlib32*.so*
# *.dll
# *.lib
